.maximumNotice {
  font-size: 12px;
  margin-bottom: 7px;
}

.wishlistBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}

.spinner {
  position: absolute;
  top: 7px;
  right: 7px;
}
